
/* Navigation bar ====================== */

#my_nav {
   background-color: #303030;
   font-family: "Courier Bold", Courier, monospace;  /*this one acts on the $HOME only*/
   font-weight: bold;
/* height: 100px; */
   border: 0px;
   color: white; #00FF00;  /*not working*/
/*    box-shadow: 10px grey; */
}


#my_navbar {
 background-color: #303030;
font-family: "Courier Bold", Courier, monospace;
font-weight: bold;
color: #00FF00; /*not working*/
}

.navbar-inverse .navbar-brand {
  color: #00FF00;    /*somehow this wins over my_nav and my_navbar... does the class win over the instance?*/
}

.navbar-inverse .navbar-nav > li > a {
    color: #00FF00;  /*looking at the inspector I found how to have this override the rest*/
}

#compensate_navbar_height {

  height: 50px;  /*I should make this dynamic*/

}

/* Banner =============================== */

.my_banner {
    background-image: url("../img/field_bright_sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
/*     overflow: hidden; */ /*what is this for?*/
    color: white;
     text-shadow: 0 1px 0 white, 0 0 5px white;
     margin-bottom: 0px;
     padding-top: 0px;
     padding-bottom: 0px;
}

.my_filter {
    background-color: rgba(0, 0, 0, 0.3);
}

/* Coordinates =============================== */

#sem_header {
 background-color: lightgray; 
}



/* ============================== */
/* ============================== */
/* Item, table ============================== */

table.sem_item {
  margin-left: none;
  margin-right: auto;
  border: none;
  border-color: transparent;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  border-collapse: separate;
  
}

table.sem_item td,th,tr  {
    
/*   padding-left:   10px; */
  padding-left:   none;
  padding-right:  10px;
  padding-top:     5px;
  padding-bottom:  5px;
  border: none;
  border-spacing: 0;
  border-color: transparent;
/*   text-align: center; */
}


/* Item image  */

 .sem_image {
    border-radius: 30%;
    height: 100px;
    width: 100px;
}
