/* Banner =============================== */

.main_banner {
    background-image: url("../img/field_bright_sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 0 1px 0 white, 0 0 5px white;
}


/* Single event ============================== */

table.sem_item {
  margin-left: none;
  margin-right: auto;
  border: none;
  border-color: transparent;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  border-collapse: separate;
  
}

table.sem_item td,th,tr  {
    
/*   padding-left:   10px; */
  padding-left:   none;
  padding-right:  10px;
  padding-top:     5px;
  padding-bottom:  5px;
  border: none;
  border-spacing: 0;
  border-color: transparent;
/*   text-align: center; */
}


/* Item image  */

 .sem_image {
    border-radius: 30%;
    height: 100px;
    width: 100px;
}


/* Switch columns, responsive ============================== */
@media all and (max-width:500px) {
  table#switch_col {
    width: 100%;
  }
  table#switch_col td {
    display: block;
    width: 100%;
  }
  table#switch_col tr {
    display: block;
    margin-bottom: 30px;
  }
  table#switch_col tr tr {
    margin-bottom: 0;
  }
}
